body{
    
    display: flex;
    flex-direction:column ;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1506220926022-cc5c12acdb35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    color: aqua;
    background-size: cover;
}

h1{
text-transform: uppercase;
letter-spacing: 4px;
font-size: 14px;
text-align: center;
}

.clock{
    display: flex;
   
}
.clock div{
    margin: 5px;
    /*to keep the ampm in a same level with other box. */
    position: relative;

}

.clock span{
    width: 100px;
    height: 80px;
    background-color: chocolate;
    opacity: .8;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: brown;
}
/*here if we do not make the position of clock class div to relative then the ampm will go to bottom more than others*/
.clock #ampm{
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 30px;
    font-size: 25px;
    color: whitesmoke;
    background-color: brown ;

}